@charset "UTF-8"

html{
    font-size: 62.5%;   /* default 15px about 10px */
}

body {
    color: #302833; /* kurobeni */
    font-size: 1.1rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*, *::before, *::after{
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    color: #9C668B; /* parple */
    text-decoration: none;
    margin-left: 1em;
}

main{
    display: block;
    text-align: center;
    letter-spacing: 0.06em;
    line-height: 1.5;
    margin-right: 20%;
}

.sidemenu{
    font-family: "Pinyon Script", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    position: fixed;
    width: 20%;
    height: 100%;
    right: 0;
    top: 0;
    background-image: url(../images/lace.png);
    background-repeat: repeat-y;
}

.footer{
    width: 100%;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.global-nav{
    margin-top: 10%;
    text-align: center;
}

.global-nav .nav-item{
    display: block;
    margin: 0.6em 0;
}

.global-nav .nav-item a{
    display: block;
    width: 100%;
    line-height: 1.2;
    text-align: left;
    padding-left: 0.2em;
    color: #9C668B; 
    font-size: 2.6rem;
    transition: 0.15s;
}

.global-nav .nav-item a{
  padding-left: 1.5em;
}

.global-nav .nav-item a:hover{
    text-decoration: underline;
}

.title{
    width: 60%;
    height: auto;
    margin-top: 3%;
    margin-bottom: 50%;
}

.me-table{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

section{
    margin: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 15%;
}
.section-title{
    padding-top: 10%;
    font-family: "Pinyon Script", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-size: 3.0rem;
    color: #9C668B;
    border-bottom: double 5px #9C668B;
}

.image{
    width:70%;
}
